@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
body {
  background: #EEEEEE;
	text-align: center;
  margin: 0;
}

h1{
  font: 700 40px/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 30px 0 5px;
  color: white;
}


.htable{
  width:60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:50px
}

.icon-cog{
  color: white;
}

#logo{
  height: 30vh;
}

header {
  min-width: 500px;
  height: 100vh;
  background-image: url('../assets/sail_l.jpg');
  background-position: center;
  background-size: cover;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
